apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio-container
        image: thedevopsdesk1/portfolio:latest # यहाँ आपकी इमेज का नाम और टैग है
        ports:
        - containerPort: 80 # आपके ऐप्लिकेशन का पोर्ट
